@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 50% 95%;
    --foreground: 234 63% 15%;
    --card: 0 0% 100%;
    --card-foreground: 234 63% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 234 63% 15%;
    --primary: 234 63% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 40% 90%;
    --secondary-foreground: 234 63% 20%;
    --muted: 231 30% 85%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 291 64% 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 88%;
    --input: 231 20% 92%;
    --ring: 234 63% 40%;
    --chart-1: 234 63% 30%;
    --chart-2: 291 64% 42%;
    --chart-3: 231 40% 70%;
    --chart-4: 234 50% 50%;
    --chart-5: 291 50% 62%;
    --radius: 0.5rem;

    --sidebar-background: hsl(var(--primary));
    --sidebar-foreground: hsl(var(--primary-foreground));
    --sidebar-primary: hsl(var(--primary-foreground));
    --sidebar-primary-foreground: hsl(var(--primary));
    --sidebar-accent: 234 63% 40%;
    --sidebar-accent-foreground: hsl(var(--primary-foreground));
    --sidebar-border: 234 63% 35%;
    --sidebar-ring: hsl(var(--ring));
  }
 
  .dark {
    --background: 233 30% 12%;
    --foreground: 0 0% 95%;
    --card: 233 30% 15%;
    --card-foreground: 0 0% 95%;
    --popover: 233 30% 15%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 0% 98%;
    --primary-foreground: 234 63% 30%;
    --secondary: 233 30% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 233 30% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 291 64% 52%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 30% 25%;
    --input: 233 30% 25%;
    --ring: 291 64% 52%;
    --chart-1: 234 70% 60%;
    --chart-2: 291 70% 60%;
    --chart-3: 231 40% 50%;
    --chart-4: 234 50% 70%;
    --chart-5: 291 50% 82%;

    --sidebar-background: 233 30% 15%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 233 30% 15%;
    --sidebar-accent: 233 30% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 233 30% 25%;
    --sidebar-ring: 291 64% 52%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  @page {
    size: A4;
    margin: 1.5cm;
  }
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  body * {
    visibility: hidden;
  }
  .print-container, .print-container * {
    visibility: visible;
  }
  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print, .no-print * {
    display: none !important;
  }
}
